* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header {
    background-color: rgb(39, 39, 59);
    display: flex;
    flex-direction: row;
    font-size: 8px;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 10px;
}
